page-welcome {
    
    #welcome {
        background: color($colors, primary);
        
        h1{
            font-size: 32px;
            margin-top: 25%;
            margin-left: 37%;
            }
        
        .signup{
            margin-top: 10px;
        }
    }
    
    
}
